body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(49, 46, 46);
}

a {
  text-decoration: none;
}

header {
  height: 5rem;
  background-color: black;
  padding: 0px 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#logo a {
  margin: 0;
  padding: 0;
  color: rgb(255, 166, 0);
  font-size: 1.5rem;
  font-weight: bold;
  /* text-decoration: none; */
  /* font-family: "Lato", sans-serif; */
}

#logo h2 {
  margin: 20px 0;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  /* padding: 0 40px; */
  margin: 0 1rem;
  /* font-family: "Lato", sans-serif; */
}

header nav a {
  font-size: 1.25rem;
  color: rgb(182, 118, 0);
  font-weight: bold;
}

header nav a:hover {
  color: rgb(255, 199, 96);
  /* padding: 5px 10px;
    background-color: white; */
}

.menu-btn {
  height: 3rem;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: rgb(255, 166, 0);
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 46, 46);
  position: fixed;
  top: 0;
  left: 0;
}

#side-drawer ul {
  list-style: none;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
}

#side-drawer li {
  margin: 2rem 0;
}

#side-drawer a {
  font-size: 1.5rem;
  color: rgb(255, 166, 0);
}

main {
  /* background-color: rgb(49, 46, 46); */
  color: rgb(255, 166, 0);
}

main h1 {
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  padding: 30px;
}

#carts {
  width: 80%;
  margin: 0 auto 2rem auto;
}

#carts ul {
  margin: 20px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 3rem;
  justify-content: center;
}

.food-items {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  overflow: hidden;
}

.food-items img {
  margin: 0;
  padding: 0;
  /* height: 25vw; */
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.food-items {
  background-color: pink;
  text-align: center;
  padding: 30px auto 10px auto;
  /* font-size: 200%; */
}

.food-items-content {
  text-align: center;
  /* padding: 10%; */
  padding: 1rem;
}

.food-items-content h2 {
  margin: 0;
  color: black;
}

.btn {
  display: inline-block;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1.5rem;
  background-color: orange;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(221, 134, 34);
}

@media (max-width: 48rem) {
  header nav {
    display: none;
  }

  main h1 {
    font-size: 1.5rem;
  }

  #carts ul {
    grid-template-columns: 100%;
    padding: 0;
    justify-content: space-around;
    gap: 1.5rem 0;
  }
}
