body {
    background-color: rgb(188, 183, 221);
    font-family: 'Ubuntu','serif';
}
 
header {
    text-align: center;
}

h1 {
    margin: 40px auto 28px auto;
    color: rgb(92, 76, 199);
}

img {
    height: 200px;
    width: auto;
}

main{
    margin: 50px auto;
    background-color: rgb(92, 76, 199);
    width: 600px;
    border-radius: 2%;
    color: aliceblue;
    padding: 25px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.2);
}

footer {
    width: 200px;
    margin: 5px auto;
    text-align: center;
}
#download {
    background-color: rgb(231, 172, 7);
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0,0.2);
}

#copyright {
    color: rgb(99, 99, 99);
}