body {
    background-color: rgb(188, 183, 221);
    font-family: 'Ubuntu','serif';
}
 
header {
    text-align: center;
}

h1 {
    margin: 40px auto 28px auto;
    color: rgb(92, 76, 199);
}

img {
    height: 200px;
    width: auto;
}

main{
    margin: 50px auto 35px auto;
    background-color: rgb(92, 76, 199);
    width: 600px;
    border-radius: 2%;
    color: aliceblue;
    padding: 25px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0,0.2);
}

span {
    font-weight: bold;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 5px 0;
    padding-left: 15px;
    border-left: 3px solid transparent;
}

.yellow {
    border-left: 3px solid rgb(245, 216, 88);
    color: rgb(245, 216, 88);
}

p a {
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
}
p a:hover,p a:active {
    background-color: rgb(255, 254, 253);
}

footer {
    width: 200px;
    margin: 5px auto;
    text-align: center;
}

/* 
#download {
    background-color: rgb(231, 172, 7);
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0,0.2);
} */

a {
    text-decoration: none;
    color: black;
    background-color: rgb(231, 172, 7);
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0,0.2);
}

a:hover {
    background-color: rgb(255, 188, 4);
}

#copyright {
    color: rgb(99, 99, 99);
}