body {
    background-color: rgb(49, 45, 45);
    font-family: "Smooch+Sans", sans-serif;
    font-size: 2rem;
}
h1 {
    color: azure;
    text-align: center;
}
form {
    width: 40rem;
    margin: 1rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
}
ul {
    list-style: none;
    padding: 0;
}
label {
    font: inherits;
    display: block;
    margin-bottom: 0.5rem;
}
input,
textarea,
select {
    font: inherit;
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    border: 2px solid rgb(66, 65, 65);
    color: rgb(53, 53, 53);
    padding: 0.25rem;
    border-radius: 5px;
}
input:focus,
textarea:focus,
select:focus {
    background-color: rgb(159, 137, 184);
    color: rgb(0, 0, 0);
    border-color: rgb(81, 81, 82);
}
.choose-radio {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.choose-radio input {
    width: auto;
    margin: 0 0.5rem 0 0;
}
.choose-radio label {
    margin: 0;
}
.choose-checkbox {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 1rem auto;
}
.choose-checkbox input {
    width: auto;
    margin: 0 0.5rem 0 0;
}
.choose-checkbox label {
    font-size: 1rem;
    margin: 0;
}
.btn {
    display: block;
}
button {
    margin: auto;
    font: inherit;
    display: block;
    background-color: white;
    color: rgb(65, 65, 65);
    border: 1px solid rgb(66, 65, 65);
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(103, 103, 185);
    color: white;
}
