body {
    background-color: rgb(49, 45, 45);
    margin: 5rem;
}
input {
    width: 20rem;
    font-size: 2rem;
    display: block;
    margin-bottom: 1.5rem;
}
button {
    font-weight: 700;
    display: block;
}
