body {
    width: 100%;
    background-color: rgb(219, 235, 255);
    font-family: "Ubuntu", sans-serif;
    color: rgb(59, 59, 59);
    padding: 0;
    margin: 0;
}
header {
    margin: 2rem 0;
    text-align: center;
}
main {
    font-size: 1.5rem;
}
form {
    width: 60%;
    padding: 1rem 0.8rem;
    margin: 0 auto 3rem auto;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.2);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
label {
    display: block;
    margin: 0.25rem 0;
}
.comment-box textarea {
    resize: none;
}
input,
.comment-box textarea,
#choose-ans {
    font: inherit;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.25rem;
    background-color: inherit;
    margin: 0.5rem 0;
    border-radius: 6px;
    border: 1px solid;
    background-color: white;
}
input:focus {
    background-color: rgb(166, 164, 255);
    color: white;
}
.radio-option {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.radio-option input {
    width: auto;
    margin: 0 0.5rem 0 0;
}
.radio-option label {
    width: auto;
    margin: 0 0.5rem 0 0;
}
.terms-condi {
    display: flex;
    width: 50%;
    margin: 0.5rem auto;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}
.terms-condi input {
    width: auto;
    margin: 0 0.5rem 0 0;
}
.terms-condi label {
    margin: 0;
}
.btn {
    margin: 0.25rem 0;
    padding: 0.5rem 0;
    /* display: flex;
    justify-content: right; */
    text-align: right;
}
button {
    font: inherit;
    font-size: 1rem;
    margin: 0 0.25rem;
    padding: 0.25rem 1.25rem;
    border: 2px solid rgb(47, 95, 238);
    border-radius: 5px;
}
#clearbtn {
    background-color: inherit;
    color: rgb(46, 46, 46);
}
#clearbtn:hover {
    background-color: rgb(174, 212, 255);
    color: rgb(46, 46, 46);
}
#submitbtn {
    background-color: rgb(17, 0, 94);
    color: white;
}
#submitbtn:hover {
    background-color: rgb(52, 28, 161);
    color: white;
}
