body {
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#imgFix {
    padding: 1rem 0;
    height: 30rem;
    width: 100%;
    max-width: 60rem;
    margin: 1rem auto;
}

#imgFix img {
    margin: 0;
    padding: 1rem;
    height: 30rem;
    max-width: 50rem;
    object-fit: cover;
}

#text {
    height: 30rem;
    width: 100%;
    max-width: 70rem;
    margin: 3rem auto;
}

a {
    text-decoration: none;
}
