#back-image {
    height: 800px;
    background-image: url("/image/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#back-image-content {
    width: 800px;
    background-color: rgba(51, 47,47, 0.8);
    box-shadow: 2px 2px 4px rgb(67, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 40%;
}

#back-image-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Raleway",sans-serif;
    margin: 0;
}

#back-image-content p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

#back-image-content a {
/*     display: inline-block;
    margin-top: 30px; */
    text-decoration: none;
    background-color: yellow;
    font-weight: bold;
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px rgb(67, 67, 67);
}

#back-image-content a:hover {
    background-color: rgb(211, 211, 0);
    padding: 50px;
}

#highlights {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    background: linear-gradient(0deg, rgb(227,225,253), rgb(162, 238, 232));
}

#highlights h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(59, 65, 64);
    margin: 30px 0;
}

#destinations {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.place {
    margin: 0 20px;
    text-transform: uppercase;
}

.place p {
    font-size: 20px;
    color: rgb(124, 124,123);
    text-align: center;
    margin: 20px 0;
}

.place strong {
    color: rgb(0, 160, 117);
}

.place img {
    height: 20vw;
    width: 25vw;
    box-shadow: 2px 4px 8px rgb(68,67, 67);
    border-radius: 10px;
    object-fit: cover;    
}