header {
    margin-bottom: 80px;
}
h1 {
    margin: 10px 0;
    font-size: 50px;
    color: rgb(71, 62, 62);
}

#desc {
    margin-bottom: 10px;
}
/* 
header p {
    margin-bottom: 50px;
} */

a {
    background-color: rgb(206, 30, 30);
    color: white;
    border: 2px solid rgb(206, 30, 30);
    border-radius: 5px;
    font-size: 25px;
    padding: 20px 50px;
    margin: 20px 10px;
    display: inline-block;
}

a:hover {
    background-color: rgb(245, 67, 67);
    text-decoration: none;
}

ol {
    font-family: 'Redressed','serif';
    list-style: none;
    width: 600px;
    margin: 30px auto 0 auto;
    padding: 0;
}

li {
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(223, 90, 73);
}

h2 {
    color: rgb(78, 13, 5);
    font-family: 'Oswald';
}

main p {
    margin: 12px;
    color: rgb(71, 29, 22);
}

.highlighted-work {
    background-color: rgb(255, 60, 35);
}